@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Merriweather:wght@300&family=Ms+Madi&family=Oooh+Baby&family=Oswald:wght@200;400&family=Poiret+One&display=swap');

:root {
  --navy-background: #f1f1f1;
  --blue-color: #a5cad9;
  --black-color: #e8e7e7;
  --red-color: #b82601;
  --purple-color: #813772;
  --white-color: #5f5b5b;
}

* {
  cursor: url(../public/icons8-select-24.png),  default;
  font-family: 'Cormorant Garamond', serif;
}

#base-container {
  height: 100%;
  width: 100%;
  background-color: var(--navy-background);
}















