#sandwich-div {
    z-index: 10;
    margin: 2vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.sandwich {
    margin-left: 10%;
    border-radius: 5%;
    margin-right: 50%;
    width: 30%;
    height: .3vh;
    background-color: var(--white-color);
    display: flex;
}

@media screen and (max-width: 500px) {
    .sandwich {
        width: 10vw;
    }
}

@media screen and (max-width: 363px) {
    .sandwich {
        height: .6vh
    }
    .sandwich-div {
        justify-content: center;
    }
}
/* 
.sandwich2 {
    margin-left: 13%;
} */